<a href="https://colab.research.google.com/github/IshanThapa/ineuron9marchAssessment/blob/master/sql_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#selects all columns from the "runners" table
SELECT r.*
FROM runners r

# join "runners" and "races" tables
LEFT JOIN races rc ON r.id = rc.winner_id

# finding runners who have not won any races
WHERE rc.winner_id IS NULL;


#the solution which was provided was a subquery solution which will give error
# when NAN values are found so i used left join here whererever null value is found

In [ ]:
#selects all columns from the test_a table
SELECT a.*
FROM test_a a

# join test_b and test_a tables where no match is present in test_b
LEFT JOIN test_b b ON a.id = b.id
WHERE b.id IS NULL;

In [ ]:
#selecting most recent training lession count for which any user has been trained
SELECT
    u.user_id,
    u.username,
    td.training_id,
    COUNT(*) AS lesson_count,
    MAX(td.training_date) AS most_recent_date
FROM
    users u

#joined both the tables wrt user_id
JOIN
    training_details td ON u.user_id = td.user_id
GROUP BY
    u.user_id,
    u.username,
    td.training_id

#only those which have been watched more than 1 time
HAVING
    COUNT(*) > 1

#training_date with decresing order
ORDER BY
    most_recent_date DESC;

In [12]:
#Selects the Manager_Id column from the Employee table and cal AVG of
#salary for each manager by Group by clause
SELECT
    e.Manager_Id,
    e.Manager AS Manager,
    AVG(e.Salary) AS Average_Salary_Under_Manager
FROM
    Employee e
GROUP BY
    e.Manager_Id,e.Manager

#decending order of Manager_Id
ORDER BY
    e.Manager_Id;

IndentationError: unexpected indent (<ipython-input-12-3d3499960511>, line 4)